//colors
$dark:#121212;
$white: #fff;
$body-bg: #f0f0f0;

$big-font: 40px;
$mobile-title-font: 35px;
$standard-font: 16px;


$content-padding: 40px;

//buttons
$btn-bg: #e4c1ae;
$btn-bg-hover: darken($btn-bg, 10%);
$btn-padding: 15px 45px;

//breakpoints
$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;


